.reddit_box {
    border: 1px solid black;
    border-radius: 10px;
}

.houseplant_image {
    max-width: 50%;
    min-width: 300px;
    height: auto;
    margin: auto;
}

.houseplant_image_box {
    background-color: #4f4f4f;
    border: 4px solid black;
}

.houseplant_row {
    display: flex;
    align-items: center;
    justify-content: center;
}