.reddit_box {
    border: 1px solid black;
    border-radius: 10px;
}

.houseplant_image {
    max-width: 90%;
    background-color: #4f4f4f;
    border: 4px solid black;
    border-radius: 4px;
}

.houseplant_reddit_images_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 4px solid green;*/
}

.houseplant_selectors {
    background-color: #d9d9d9;
    border: 4px solid black;
    border-radius: 4px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.houseplant_pages {
    background-color: #d9d9d9;
    border: 4px solid black;
    border-radius: 4px;
    padding: 10px 20px;
}

.houseplant_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.houseplants_box {
    background-image: url("houseplants.jpg");
    background-size: 400px 480px;
    position: absolute;
}

.houseplant_display_count {
    height: 30px;
    width: 60px;
}

.reddit_images_updater {
    background-color: #C9082A;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.reddit_images_other_page {
    background-color: #C9082A;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.reddit_images_current_page {
    background-color: #C9082A;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.watering_current_date {
    font-family: "Oswald";
    font-size: 48px;
    font-weight: bold;
}

.watering_divider {
    border: 2px solid black;
    padding: 0px 180px;
}

.page_header {
    font-family: "Oswald";
    font-size: 36px;
    font-weight: bold;
    padding: 20px 0px;
}

.watering_outside_dates {
    background:none;
    border:none;
    cursor: pointer;
    font-family: "Oswald";
    font-size: 20px;
    opacity: 70%;
}

.flex_columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plant_label_container {
    display: block;
    position: relative;
    padding-left: 52px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: "Oswald";
    font-size: 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.plant_label_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 46px;
  width: 46px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.plant_label_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.plant_label_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.plant_label_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.plant_label_container .checkmark:after {
  left: 16px;
  top: 11px;
  width: 8px;
  height: 22px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.watering_button {
    background-color: #b11012;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 0px 15px;
    text-align: center;
    text-decoration: none;
    font-family: "Oswald";
    font-size: 20px;
    cursor: pointer;
}

.oswald_midsize {
    font-family: "Oswald";
    font-size: 20px;
}

.sidebar-nav {
    margin-top: 40px;
    padding: 0;
    list-style: none;
    border-right: 2px solid black;
}

.sidebar_header {
    font-family: "Oswald";
    font-size: 30px;
}

.form_item {
    padding: 15px 5px;
    font-family: "Oswald";
    font-size: 20px;
}

.form_label {
    font-size: 26px;
    font-weight: bold;
}