.reddit_box {
    border: 1px solid black;
    border-radius: 10px;
}

.houseplant_image {
    margin: auto;
    max-width: 94%;
    background-color: #4f4f4f;
    border: 4px solid black;
    border-radius: 4px;
}

.houseplant_reddit_images_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 4px solid green;*/
}

.houseplant_selectors {
    background-color: #d9d9d9;
    border: 4px solid black;
    border-radius: 4px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.houseplant_pages {
    background-color: #d9d9d9;
    border: 4px solid black;
    border-radius: 4px;
    padding: 10px 20px;
}

.houseplant_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.houseplants_box {
    background-image: url("houseplants.jpg");
    background-size: 400px 480px;
    position: absolute;
}

.houseplant_display_count {
    height: 30px;
    width: 60px;
}

.reddit_images_body {
    height: 100%;
    width: 100%;
    background-image: url('/static/houseplants/houseplants.jpg');
    overflow: hidden;
    padding: 8px;
}

.reddit_images_updater {
    background-color: #C9082A;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.reddit_images_other_page {
    background-color: #C9082A;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.reddit_images_current_page {
    background-color: #C9082A;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}