<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>NBA Beautiful Data</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'analyze/style.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
</head>
<body>
    <div class="all_content">
        <div class="content">
            <img src="{% static 'analyze/images/header.png'%}">
        </div>
        <div class="index_form_choices">
            <div class="index_choice">
                <form>
                {% csrf_token %}
                    <input type="submit" value="Team Statistics" name="type_submit" class="type_submit_button_red">
                </form>
            </div>
            <div class="index_choice">
                <form>
                {% csrf_token %}
                    <input type="submit" value="Plotting" name="type_submit" class="type_submit_button_red">
                </form>
            </div>
        </div>
    </div>

</body>
</html>