{% load static %}
<html lang="en">
    <head>
        <title>Plotting</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'analyze/style.css' %}">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    </head>
    <body>
        <div class="all_content">
            <div class="content">
                <img src="{% static 'analyze/images/header.png'%}">
            </div>
            {% if graph.x_key != None %}
                <div class="type_submit">
                    {% for option in graph_options %}
                        {% if option == graph_type %}
                            {# selected #}
                            <form action="{% url 'analyze:plot' graph.graph_id %}" method="post">
                            {% csrf_token %}
                                <input type="submit" value="{{ option }}" name="type_submit" class="type_submit_button_red">
                            </form>
                        {% else %}
                            {# others #}
                            <form action="{% url 'analyze:plot' graph.graph_id %}" method="post">
                            {% csrf_token %}
                                <input type="submit" value="{{ option }}" name="type_submit" class="type_submit_button_blue">
                            </form>
                        {% endif %}
                        <div style="width: 8px"></div>
                    {% endfor %}
                </div>

                <form action="{% url 'analyze:plot' graph.graph_id %}" method="post">
                {% csrf_token %}
                    <div class="selector_content">
                        <!-- Selector X AXIS -->
                        <div class="selector">
                            <h3>X Axis</h3>
                            <select name="x_key_name" style="font-family: 'Oswald';">
                                {% for x_key in x_keys %}
                                    {% if x_key == graph.x_key %}
                                        <option name="{{ x_key }}" value="{{ x_key }}" selected>{{ x_key }}</option>
                                    {% else %}
                                        <option name="{{ x_key }}" value="{{ x_key }}">{{ x_key }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="selector_divider"></div>
                        <!-- Selector Y AXIS -->
                        <div class="selector">
                            <h3>Y Axis</h3>
                            <select name="y_key_name" style="font-family: 'Oswald';">
                                {% for y_key in y_keys %}
                                    {% if y_key == graph.y_key %}
                                <!-- todo check if the name on this is needed, dont think it is-->
                                        <option name="{{ y_key }}" value="{{ y_key }}" selected>{{ y_key }}</option>
                                    {% else %}
                                        <option name="{{ y_key }}" value="{{ y_key }}">{{ y_key }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="selector_divider"></div>
                        {% block graph_filters %}
                            <label>This should not happen</label>
                        {% endblock graph_filters %}
                        <div class="selector_divider"></div>
                        <!-- GRID Enable/Disable -->
                        <div class="selector">
                            <h3>Grid</h3>
                            {% for option in grid_choices %}
                                {% if option == graph.grid %}
                                    <label>{{ option }}<input type="radio" name="grid_enable" value="{{ option }}" checked></label><br>
                                {% else %}
                                    <label>{{ option }}<input type="radio" name="grid_enable" value="{{ option }}"></label><br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="selector_divider"></div>
                        <div class="selector">
                            <h3>Minutes Played</h3>
                            <div style="display: flex;">
                                <div>
                                    <label>Min: </label>
                                    <br>
                                    <label>Max: </label>
                                </div>
                                <div style="padding: 3px;">
                                    <input style="width: 50px; font-family: 'Oswald';" type="text" name="min_seconds" value="{{ graph.min_seconds }}">
                                    <br>
                                    <input style="width: 50px; font-family: 'Oswald';" type="text" name="max_seconds" value="{{ graph.max_seconds }}">
                                </div>
                            </div>
                        </div>
                        <div class="selector_divider"></div>
                        <div class="selector">
                            <h3>Outliers</h3>
                            <div style="padding: 3px;">
                                <input style="width: 50px; font-family: 'Oswald';" type="text" name="outlier_count" value="{{ graph.outlier_count }}">
                            </div>
                        </div>
                    </div>
                    <br>

                    <div style="text-align: center;">
                        <input type="submit" value="Update" name="filter_submit" class="updater">
                    </div>
                </form>

                <div style="display: flex; justify-content: center; align-items: flex-start;">
                    <div class="math_box">
                        <div style="text-align: left;">
                            {% for key, value in outlier_dict.operations_dict.items %}
                                <label style="font-weight: bold;">{{ key }} </label>
                                <label>{{ value }}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div style="padding: 5px;"></div>
                    <div style="border: 4px solid black;">
                        <!-- Show the figure -->
                        {{ graph.get_svg_text|safe }}
                    </div>
                    <div style="padding: 5px;"></div>
                    {% block outlier_box %}
                        <label>This should not happen</label>
                    {% endblock outlier_box %}
                </div>
{#           image not available    #}
            {% else %}
                <p>No data available :(</p>

            {% endif %}
            <div style="padding: 5px; display: flex; text-align: center; justify-content: center;">
                <a href="{% url 'analyze:download_plot_png' %}" style="padding: 5px;">
                    <input type="submit" id="plot_down" value="Download Plot PNG" class="downloader">
                </a>
                <!--<a href="{% static 'analyze/images/header.png' %}"-->
                   <!--download="plot_data.csv" style="padding: 5px;">-->
                    <!--<input type="submit" value="Download CSV" class="downloader">-->
                <!--</a>-->
            </div>
            <div class="content">
                <label class="text_selector_filter">Data set created from basketball-reference.com</label>
            </div>

        </div>
    </body>
</html>


