{% extends "houseplants/base_generic.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Houseplants Homepage</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'houseplants/favicon.ico' %}"/>
</head>
<body>

{% block content %}
    <h1>Houseplants!</h1>
    <a class="reddit_box" href="{% url 'houseplants:reddit_images' %}">Reddit Images</a>
    <br>
    <a class="reddit_box" href="{% url 'houseplants:watering_schedule' %}">Watering Schedule</a>
{% endblock %}

</body>
</html>