{% extends "houseplants/base_generic.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My plants</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'houseplants/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'houseplants/houseplants_style.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

</head>
<body>
{% block content %}

<div class="flex_columns">
    <h1>Here are your plants!</h1>
    {% for plant in user_plants %}
        <div>
            <label>{{ plant.plant.plant_name }}</label>
        </div>
    {% endfor %}
</div>

{% endblock %}
</body>
</html>