{% extends "houseplants/base_generic.html" %}
{% load houseplant_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Propagation Board</title>
</head>
<body>
{% block content %}

<div class="flex_columns">
    <label>{{ propagation_instance.plant.plant_name }}</label>
    <div style="display: flex; flex-direction: row; align-items: center; border: 1px solid black;">
        <img style="max-width: 40%; padding: 5%;" src="{{ propagation_instance.image.url }}" alt="(!)"/>
        <div style="border: 1px solid black">
            <label>{{ propagation_instance.action }}</label><br>
            <label>Type: {{ propagation_instance.propagation_type }}</label><br>
            <label>Amount: {{ propagation_instance.amount }}</label><br>
            <label>Description: {{ propagation_instance.description }}</label><br>
            <label>Date Added: {{ propagation_instance.listed_date|convert_date }}</label><br>
        </div>
    </div>
    <label>Owner: {{ propagation_instance.owner }}</label>
    <button>Save</button>
</div>

{% endblock content %}
</body>
</html>