{% extends "houseplants/base_generic.html" %}
{% load houseplant_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Propagation Board</title>
</head>
<body>
{% block content %}

<div class="flex_start">
    <label class="oswald_large">{{ propagation_instance.plant.plant_name }}</label>
    <div style="display: flex; flex-direction: row; align-items: center;">
        <div>
            <div>
                <label class="oswald_midsize">{{ propagation_instance.action }}</label><br>
                <label>Type: {{ propagation_instance.propagation_type }}</label><br>
                <label>Amount: {{ propagation_instance.amount }}</label><br>
                <label>Description: {{ propagation_instance.description }}</label><br>
                <label>Date Added: {{ propagation_instance.listed_date|convert_date }}</label><br>
            </div>
            <div style="padding: 10% 0%;">
                <label>Owner: {{ propagation_instance.owner }}</label><br>
                <button>Save</button>
            </div>
        </div>
        <div style="width: 40%; height: 40%;">
            <img style="padding: 5%; width: 100%; object-fit: contain;" src="{{ propagation_instance.image.url }}" alt="(!)"/>
        </div>

    </div>

</div>

{% endblock content %}
</body>
</html>