{% extends "houseplants/base_generic.html" %}
{% load houseplant_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Propagation Board</title>
</head>
<body>
{% block content %}

<div class="flex_columns">
    <h1>Propagation Buy/Sell/Trade</h1>
    {% for propagation_instance in propagation_instances %}
        <div style="display: flex; flex-direction: row; align-items: center;">
            <label>{{ propagation_instance.action }}</label>
            <img style="width: 50px; height: 50px;" src="{{ propagation_instance.image.url }}" alt="(!)"/>
            <a href="{% url 'houseplants:propagation_detail' propagation_instance.propagation_instance_id %}">{{ propagation_instance.plant.plant_name }}</a>
            <label>{{ propagation_instance.amount }}</label>
        </div>
    {% endfor %}
</div>

{% endblock content %}
</body>
</html>