{% extends "houseplants/base_generic.html" %}
{% load houseplant_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Images</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'houseplants/houseplants_style.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

{% block content %}
<div class="container_fluid">
    <form action="{% url 'houseplants:reddit_images' %}" method="post">
    {% csrf_token %}
        <div class="houseplant_reddit_images_header">
            <div style="display: flex;">
                <div class="houseplant_selectors">
                    <div>
                        <label>Image Sorting: </label>
                        <select name="sorting_method">
                            {% for sort_item in sorting_items %}
                                {% if sort_item == selected_sort %}
                                    <option name="{{ sort_item }}" value="{{ sort_item }}" selected>{{ sort_item }}</option>
                                {% else %}
                                    <option name="{{ sort_item }}" value="{{ sort_item }}">{{ sort_item }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br><br>
                        <label>Display Count: </label>
                        <textarea name="display_count_text" class="houseplant_display_count">{{ page_image_limit }}</textarea>
                    </div>
                    <div style="text-align: center;">
                        <input type="submit" value="Go" name="sorting_submit" class="reddit_images_updater">
                    </div>
                </div>
            </div>
            <div style="display: flex;">
                <div class="houseplant_pages">
                    {% for page in houseplant_images %}
                        {% if not page|check_current_page:current_page %}
                            <input type="submit" value="{{ page }}" name="page_select" class="reddit_images_other_page">
                        {% else %}
                            <label class="reddit_images_current_page">{{ page }}</label>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>

    {% for image_list in houseplant_images|index:current_page %}
        <div class="row" style="padding: 8px 0px;">
            {% for image_item in image_list %}
                <div class="col">
                    <div class="houseplant_row">
                        <img class="houseplant_image" src="{{ image_item.get_media_url }}">
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endfor %}
</div>
{% endblock %}

</body>
</html>