{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Images</title>
    <link rel="stylesheet" type="text/css" href="{% static 'houseplants/houseplants_style.css' %}">
</head>
<body style="background-color: #6DDCBD">

<h1>reddit images</h1>
{% for image_list in houseplant_images %}
    {% for image_item in image_list %}
        <img class="houseplant_image" src="{{ image_item.get_media_url }}">
    {% endfor %}
    <br>
{% endfor %}

</body>
</html>