{% extends "houseplants/base_generic.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watering Schedule</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'houseplants/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'houseplants/houseplants_style.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
</head>
<body>

{% block content %}
    <form action="{% url 'houseplants:watering_schedule' %}" method="post">
    {% csrf_token %}
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: row; gap: 36px;">
            {% for date, dow, dom, is_main in weekly_dates %}
                {% if not is_main %}
                    <button name="calendar_select" value="{{ date.month }}-{{ date.day }}-{{ date.year }}" type="submit" class="watering_outside_dates">{{ dow }},<br/>{{ dom }} {{ date.day }}</button>
                {% else %}
                    <div>
                        <label class="watering_current_date">{{ dow }},</label>
                        <br>
                        <label class="watering_current_date">{{ dom }} {{ date.day }}</label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </form>

    <div class="flex_columns">
        <br>
        <div class="watering_divider"></div>
        <br>
        <div>
            {% for plant in user_plants %}
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <label class="plant_label_container">{{ plant }},
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <div style="padding: 6px;"></div>
                    <label class="oswald_midsize">(Last {{ plant.last_watered }})</label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

</body>
</html>