{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'analyze/style.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

<div class="all_content">
    <div class="content">
        <img src="{% static 'analyze/images/header.png'%}">
    </div>
    {% if svg != None %}
    <form action="{% url 'analyze:plot' %}" method="post">
    {% csrf_token %}
    <div class="selector_content">
        <!-- Selector X AXIS -->
        <div class="selector">
            <h3>X Axis</h3>
            <select name="x_key_name">
                {% for name in x_keys %}
                    {% if name.name == selected_x_key %}
                        <option name="{{ name }}" value="{{ name }}" selected>{{ name }}</option>
                    {% else %}
                        <option name="{{ name }}" value="{{ name }}">{{ name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <!-- Selector Y AXIS -->
        <div class="selector">
            <h3>Y Axis</h3>
            <select name="y_key_name">
                {% for name in y_keys %}
                    {% if name.name == selected_y_key %}
                        <option name="{{ name }}" value="{{ name }}" selected>{{ name }}</option>
                    {% else %}
                        <option name="{{ name }}" value="{{ name }}">{{ name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <!-- PLAYER NAME Filter -->
        <div class="selector">
            <h3>Player Name</h3>
            <input type="text" name="player_name">
        </div>
        <!-- TEAM NAME Filter -->
        <div class="selector">
            <h3>Team Name</h3>
            <select id="team_name" name="team_name">
                <option selected>Select a Team</option>
                {% for name in team_names %}
                    {% if name.name == selected_team_name %}
                        <option name="{{ name }}" value="{{ name }}" selected>{{ name }}</option>
                    {% else %}
                        <option name="{{ name }}" value="{{ name }}">{{ name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="selector">
            <h3>Seconds Played</h3>
            <div style="display: flex;">
                <div>
                    <label>Min: </label>
                    <br>
                    <label>Max: </label>
                </div>
                <div style="padding: 3px;">
                    <input style="width: 50px;" type="text" name="min_seconds" value="{{ min_seconds }}">
                    <br>
                    <input style="width: 50px;" type="text" name="max_seconds" value="{{ max_seconds }}">
                </div>
            </div>
        </div>
        <!-- GRID Enable/Disable -->
        <div class="selector">
            <h3>Graph Grid</h3>
            {% if grid_enabled %}
                <input type="radio" name="grid_enable" value="True" checked>
                <label> Enable</label><br>
                <input type="radio" name="grid_enable" value="False">
                <label> Disable</label>
            {% else %}
                <input type="radio" name="grid_enable" value="True">
                <label> Enable</label><br>
                <input type="radio" name="grid_enable" value="False" checked>
                <label> Disable</label>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="content">
        <input type="submit" value="Update" class="updater">
    </div>
    </form>

    <!-- Show the figure safely -->
    <div class="content">
    {{ svg|safe }}
    </div>
    <div class="content">
        <label class="text_selector_filter">Data set created from basketball-reference.com</label>
    </div>
    {% else %}
        <p>No data available :(</p>

    {% endif %}

</div>