<h1>NBA Plotting Tool</h1>
{% if svg != None %}

<h2>Graph Axis Selectors</h2>
<form action="{% url 'analyze:plot' %}" method="post">
{% csrf_token %}
<h3>X Axis</h3>
<select name="x_key_name">
{% for name in x_keys %}
    {% if name.name == selected_x_key %}
        <option name="{{ name }}" value="{{ name }}" selected>{{ name }}</option>
    {% else %}
        <option name="{{ name }}" value="{{ name }}">{{ name }}</option>
    {% endif %}
{% endfor %}
</select>
<h3>Y Axis</h3>
<select name="y_key_name">
{% for name in y_keys %}
    {% if name.name == selected_y_key %}
        <option name="{{ name }}" value="{{ name }}" selected>{{ name }}</option>
    {% else %}
        <option name="{{ name }}" value="{{ name }}">{{ name }}</option>
    {% endif %}
{% endfor %}
</select><br><br>
<input type="submit" value="Update">
</form>

<br><br>

<!-- Show the figure safely -->
{{ svg|safe }}

{% else %}
    <p>No data available :(</p>

{% endif %}