<h1>NBA Plotting Tool</h1>
{% if svg != None %}

<h2>X Axis Keys</h2>
{{ selected_x_key }}
<form action="{% url 'analyze:plot' %}" method="post">
{% csrf_token %}
<select name="x_key_name">
{% for name in x_keys %}
    {% if name.name == selected_x_key %}
        <option name="{{ name }}" value="{{ name }}" selected>{{ name }}</option>
    {% else %}
        <option name="{{ name }}" value="{{ name }}">{{ name }}</option>
    {% endif %}
{% endfor %}
</select>
<input type="submit" value="Update">
</form>

<h2>Y Axis Keys</h2>
<select>
{% for name in y_keys %}
    <option value="{{ name }}">{{ name }}</option>
{% endfor %}
</select><br><br>

<!-- Show the figure safely -->
{{ svg|safe }}

{% else %}
    <p>No data available :(</p>

{% endif %}