{% load static %}
{% load selector_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'selector/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'selector/selector_style.css' %}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color: darkred">

<div class="container-fluid">
    <div class="row">
        {% for app_name, app_background in app_names %}
            <div class="col" >
                <form action="{% url 'selector:redirect_to_app' %}" method="post">
                {% csrf_token %}
                    <div class="app_column" style="background: url('/static/selector/{{ app_background }}') repeat;">
                        <input type="submit" class="form_submit_button" name="selector_button" value="{{ app_name }}">
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>