.all_content {
    margin: auto;
    background: #d6d6d6;
}
.content {
    text-align: center;
    margin: auto;
    padding: 5px;
    /* border: 1px solid black; */
}
.text_selector_filter {
    text-align: center;
    font-family: "Oswald";
    font-size: 36px;
    font-style: italic;
}
.selector {
    padding: 5px;
}
.selector_content {
    display: flex;
    justify-content: center;
    font-family: "Oswald";
}
.updater {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
